header{
    background-image: url("pattern.png");
    background-color: rgb(88, 88, 212);
    background-repeat: repeat-x;

}

#the-booleaner{
    width: 37%;
    margin-top: 2%;
}

h1{
    font-size: 30px;
}


.color-aqua{
    color: aqua;
}

.opacity{
    opacity: 50%;
}

.little-font{
    font-size: 10px;
}


.wider{
    width: 45%;
}

#second-image {
    height: 451px;
}


.marked{
    background-color: rgb(223, 255, 61);
}


.more-margin{
    margin-top:2%;
    margin-bottom: 3%;
}


th{
    background-color: rgb(90, 90, 195);
    color:aliceblue
}

.azzurro{
    background-color: aquamarine;
}

th{
    width:20%;
}
.larger-th{
    width: 50%;
}


