header{
    background-image: url("pattern.png");
    background-color: rgb(88, 88, 212);
    background-repeat: repeat-x;
   
  
}

#the-booleaner{
    width: 37%;
    margin-top: 2%;
}

h1{
    font-size: 30px;
}


.color-aqua{
    color: aqua;
}

.opacity{
    opacity: 50%;
}

.little-font{
    font-size: 10px;
}