header{
    background-image: url("pattern.png");
    background-color: rgb(88, 88, 212);
    background-repeat: repeat-x;
    height: 160px;
}

#the-booleaner{
    width: 20%;
    margin-top: 6%;
}

h1{
    font-size: 30px;
}


.color-aqua{
    color: aqua;
}

.opacity{
    opacity: 50%;
}

.little-font{
    font-size: 10px;
}


.wider{
    width: 45%;
}

#second-image {
    height: 451px;
}


.marked{
    background-color: rgb(223, 255, 61);
}


.more-margin{
    margin-top:2%;
    margin-bottom: 3%;
}


th{
    background-color: rgb(90, 90, 195);
    color:aliceblue
}

table{
    border-collapse: collapse;
}

.azzurro{
    background-color: aquamarine;
}

th{
    width:20%;
    text-align: left;
}
.larger-th{
    width: 50%;
}


#background-image1{
    background-image: url(graph.jpg);
    background-repeat: no-repeat;
    font-size: 70px;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
    width: 240px;
    height: 170 px;
    font-size: 30px;
    color:aliceblue;
}


#background-image2{
    background-image: url(monitor.jpg);
    background-repeat: no-repeat;
    font-size: 70px;
    font-weight: normal;
    line-height: 55px;
    text-align: center;
    width: 240px;
    height: 170 px;
    font-size: 30px;
    color:aliceblue;
}